<h1><%= "#{@director.firstname} #{@director.lastname}" %></h1>
<%= link_to "Create Movie", "/directors/#{@director.id}/movies/new" %>
<%= form_with url: "/directors/#{@director.id}/movies?threshold=#{@threshold}", method: :get, local: true do |form| %>
  <%= form.label :threshold, "Minimum Runtime" %>
  <%= form.text_field :threshold %>
  <br>
  <%= form.submit "Show!" %>
<% end %>
<hr>
<% @movies.each do |movie| %>
  <h3><%= "#{movie.title}" %></h3>
  <%= link_to "Delete", "/movies/#{movie.id}", method: :delete %>
  <p><%= "Runtime: #{movie.runtime}" %></p>
  <p><%= "Year Released: #{movie.release}" %></p>
  <p><%= "Like: #{movie.like}" %> </p>
  <p><%= "Domestic Gross: #{movie.dmst_gross}" %> </p>
  <p><%= "International Gross: #{movie.intl_gross}" %></p>
<% end %>